{% block extends %}
{{ "{% extends 'ItscaroCrudGeneratorBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block title %}
{{ "{% block title %}" }}
{{ "{{ parent() }} -  {{ 'views.show.title'|trans({'%entity%': '" ~ ['entity.', entity, '.name']|join|lower ~ "'|trans({}, 'ItscaroCrudGeneratorBundle')}, 'ItscaroCrudGeneratorBundle') }}" }}
{{ "{% endblock %}" }}
{% endblock title %}

{% block body %}
{{ "{% block body %}" }}
    <h1>{{ "{{ 'views.show.show'|trans({'%entity%': '" ~ ['entity.', entity, '.name']|join|lower ~ "'|trans({}, 'ItscaroCrudGeneratorBundle')}, 'ItscaroCrudGeneratorBundle') }}" }}</h1>

    {{ "{% include '" ~ bundle ~ ":" ~ entity ~ ":item.html.twig' with {'entity' : entity} %}"}}

    {% set hide_edit, hide_delete = false, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}

{{ "{% endblock %}" }}
{% endblock body %}

