{% block body %}
<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <tbody>
        {%- for field, metadata in fields %}

            <tr>
                <th>{{ "{{ '" ~ ['entity.', entity, '.', field ]|join|lower ~ "'|trans({}, 'ItscaroCrudGeneratorBundle') }}" }}</th>

                {%- if metadata.type in ['datetime'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

                {%- if metadata.type in ['date'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}' }}</td>

                {%- if metadata.type in ['time'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}' }}</td>

                {%- else %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>
</div>
{% endblock body %}
